<nav class="navbar navbar-static-top">
    <div ng-show="!user" class="welcome">
        <a ui-sref="login">Login</a>
    </div>
    <div class="welcome">
        <div ng-show="user">
            <span>Welcome, {{ user.email }}!</span>
            <a ui-sref="accountManagement"><span class="glyphicon glyphicon-cog"></span></a>
            <!-- <a ng-click="logout()" class="logout">Logout</a> -->
        </div>
        <a ui-sref="viewCart">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
        <div class="dropdown dropdown-scroll">
            <button class="btn icon-button dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <div class="input-group input-group-sm search-control">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Query" ng-model="query">
                        </input>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <a class="logo" ui-sref="home"><h1 class="text-center">SUPERmarket</h1></a>
        <div id="buttons">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref-active="active" ui-sref="powers({categoryId: 'all'})">All Powers</a>
                </li>
                <li ng-repeat="category in categories">
                    <a ui-sref-active="active" ui-sref="powers({categoryId: category.id})">{{category.name}} Powers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
