navbar {
    display: block;
    background: white;
    border-bottom: 5px solid black;
    .welcome-container {
        position: relative;
        .searching {
            position: absolute;
            top: 16px;
            left: 24px;
            width: 250px;
        }
        .searching.logged-out {
            left: -125px;
        }
        .account-options {
            position: absolute;
            top: 19px;
            left: 125px;
            ul {
                list-style: none;
                .glyphicon {
                    float: left !important;
                }
            }
        }
        .account-options.logged-out {
            left: 24px;
        }
        .admin-options {
            position: absolute;
            top: 19px;
            left: 125px;
            ul {
                list-style: none;
                .glyphicon {
                    float: left !important;
                }
            }
        }
        .admin-options.logged-out {
            left: 24px;
        }
    }
    h1.text-center {
        margin: 0;
    }
    .navbar.navbar-static-top {
        margin-bottom: 0px;
    }
    .container {
        width: 91%;
        max-width: 1340px;
        padding-top: 20px;
    }
    fullstack-logo {
        margin-top: 5px;
        margin-right: 20px;
        width: 40px;
    }
    a {
        color: black;
        font-size: 16px;
    }
    .nav > li > a {
        cursor: pointer;
        transition: color 0.2s;
        &.active {
            color: darken(#f31214, 10%);
        }
        &:hover {
            background: none;
            color: #f31214;
        }
        &:focus {
            background: none;
        }
    }
    .account {
        color: darkblue;
    }
    .logout {
        color: red;
    }
    .logo {
        text-decoration: none !important;
        color: #000000;
    }
    .icon-button {
        float: right;
        background: none;
        font-size: 20px;
    }
    .login-button {
        float: right;
        border: 1px solid black;
        margin-top: 10px;
        background: none;
        outline: none !important;
    }
    .welcome {
        float: right;
        right: 10px;
        margin-top: 5px;
        margin-right: 5px;
        span {
            color: black;
            font-size: 16px;
            margin-right: 5px;
        }
        a {
            cursor: pointer;
        }
    }
    .dropdown.dropdown-scroll .dropdown-menu {
        max-height: 200px;
        width: 60px;
        //overflow: auto;
        right: 0px;
        float: right;
    }
    .search-control {
        padding: 5px 10px;
        float: right;
        right: 0px;
    }
}
