<section id="account">

<!--   <form name='accountForm' ng-submit="accountForm.$valid && updateAccount(form)" novalidate>
  </form>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form control" ng-model="form.firstName" name="firstName" placeholder="user.firstname" />
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form control" ng-model="form.lastName" name="lastName" placeholder="user.lastName" />
  </div>
    <div class="form-group">
    <label>Email</label>
    <input type="text" class="form control" ng-model="form.email" name="email" placeholder="user.email" />
  </div>
    <div class="form-group">
    <label>Current </label>
    <input type="text" class="form control" ng-model="form.firstName" name="firstName" placeholder="user.firstname" />
  </div> -->
</section>
