<form class="form-group" name="newPowerForm" ng-submit="createNewPower(newPower)" novalidate>
    Name
    <input type="text" ng-model="newPower.name" name="name" placeholder="Power Name">
    <br>
    <br>
    Description
    <textarea type="text" name="description" ng-model="newPower.description" row="8" placeholder="Description"></textarea>
    <br>
    <br>
    Category
    <select type="text" name='categoryId' ng-model="newPower.categoryId" ng-options="category.id as category.name for category in categoryInfo"></select>
    <br>
    <br>
    Price
    <input type="number" name="price" ng-model="newPower.price" placeholder="Price">
    <br>

    <br>
    Quantity
    <input type="number" name="quantity" ng-model="newPower.quantity" placeholder="quantity">
    <br>
    <br>
    Image Url
    <input type="text" name="picUrl" ng-model="newPower.picUrl" placeholder="Image Url">
    <hr>
    <button class="btn btn-primary">Submit</button>
</form>
