<div class="row" id="individualPowers">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-12">
                    <div class="product col-md-6 service-image-left">
                        <center>
                            <img src="{{powerInfo.picUrl}}" class="resize" alt=""></img>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <div>{{powerInfo.name}}</div>
                        <div>{{powerInfo.description}}</div>
                        <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                        <hr>
                        <div class="product-price">{{powerInfo.price}}</div>
                        <div class="product-stock">In Stock</div>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i>{{powerInfo.createdAt | date:"MM/dd/yyyy"}}</span></li>
                            <li>|</li>
                            <span><i class="glyphicon glyphicon-comment"></i> <a ui-sref="#">{{powerInfo.reviews.length}} reviews</a></span>
                            <li>|</li>
                            <li>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </li>
                            <br>
                            <br>
                            <div class="product-price">{{powerInfo.price}}</div>
                            <br>
                            <div class="product-stock">In Stock</div>
                            <hr>
                            <form name="addToCartForm" ng-submit="addToCart(itemInfo)" novalidate>
                                Quantity:
                                <input type="number" name="quantity" ng-model="itemInfo.quantity">
                                <div class="btn-group cart">
                                    <button type="button" class="btn btn-success" ng-click="addToCart(itemInfo)">
                                        Add to cart
                                    </button>
                                </div>
                            </form>
                        </ul>
                    </div>
                    <div ng-show="true">
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-12" style="background-color: #EEE">
                            <h4>
                            <ng-pluralize count="powerInfo.reviews.length" when="{'1': '{} customer has reviewed {{powerInfo.name}}:', 'other': ''{} customers have reviewed {{powerInfo.name}}:'"></ng-pluralize>
                            {{powerInfo.reviews.length}} customers have reviewed {{powerInfo.name}}:
                            </h4>
                            <div ng-repeat="review in powerInfo.reviews">
                                <p>{{review.userId}} gave this {{review.rating}} stars!</p>
                                <p>{{review.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
