<a class="btn btn-primary" role="button" ng-click="showForm()">Add Category</a>
  <ul class="list-group">
    <li class="list-group-item" editable-text="category.name" onbeforesave="addCategory($data)" ng-show="categoryForm">
    {{'Insert Category Here' }}
    </li>
  </ul>
<h3 class="text-center"> Active Categories </h3>
  <ul class="list-group">
     <li class="list-group-item" ng-repeat="category in categories | filter: {active: true} | orderBy: ['name']" editable-text="category.name" onaftersave="editCategory(category.id, $data)">
      {{category.name}}
      <button type="button" ng-click="isActive(category.id, false)" class="btn btn-info pull-right">Active</button>
      <button ng-click="deleteCategory(category.id)" class="btn btn-danger pull-right">Delete</button> {{category.active}}
    </li>
<div ng-controller="RadiolistCtrl">
  <a href="#" editable-radiolist="category.active">
    true
    false
  </a>
</div>

  </a>
  </ul>

<h3 class="text-center"> Inactive Categories </h3>
  <ul class="list-group">
     <li class="list-group-item" ng-repeat="category in categories | filter: {active: false} | orderBy: ['name']" editable-text="category.name" onaftersave="editCategory(category.id, $data)">
      {{category.name}}
      <button type="button" ng-click="isActive(category.id, true)" class="btn btn-info pull-right">Active</button>
      <button ng-click="deleteCategory(category.id)" class="btn btn-danger pull-right">Delete</button>
    </li>
  </ul>

<!-- Issues:

cannot add more than one at a time
buttons should show once edited
 -->
