<div id="checkoutCart" class="text-center">
  <table class="table">
    <h3>My Cart</h3>
    <thead>
      <tr>
        <th>Power Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr ng-repeat="item in cartInfo">
      <td>{{ item.powerName }}</td>
      <td>{{ item.quantity }}</td>
      <td>${{ item.price }}</td>
      <td><a href="#" ng-click="removeFromCart(item.powerId)"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
    </tr>
  </table>
  <br><br>
  <a href="#"><button type="button" class="btn btn-warning" ng-click="clearCart()">Clear Cart</button></a>
  <a ui-sref="checkoutshipping"><button type="button" class="btn btn-success" ng-click="checkoutCart()">Check Out</button></a>
</div>
