<section id='checkoutUser'>

  <div class='shippingAddress col-xs-4'>
    <h3>Shipping Address</h3>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <p>{{user.street}}</p>
    <p>{{user.city}}, {{user.state}} {{user.zipcode}}</p>
    <small> <a ui-sref="shipping({id: user.id})">Change</a> </small>
  </div>

  <div class="paymentMethod col-xs-4">
    <h3> Payment Method </h3>
  </div>

  <div class="orderSummary col-xs-4">
    <h3> Order Summary </h3>


    <table class="table">
      <thead>
        <tr>
          <th>Power Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>{{item.powerName}}</td>
          <td>{{item.quantity}}</td>
          <td>${{item.price}}</td>
        </tr>
        <td> Total Price: </td>
        <td> </td>
        <td> PUT TOTAL PRICE HERE</td>
      </tbody>
    </table>

    <button type="button" class="btn btn-warning" ng-click="completeCheckout()">Complete Checkout</button>

</section>
