#checkoutShippingAddressForm {
    margin: auto;
    max-width: 400px; 
}

#checkoutReviewAddress {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: 1px solid black;
}

#checkoutReviewPayment {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: 1px solid red;
}

#checkoutReviewCart {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: 1px solid blue;

    table {
        margin-bottom: 10px;
    }
}
